.historyOfPayments {
    width: 1194px;
    padding: var(--padding-20);
    margin-top: var(--space-24);
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-20);
}

.historyOfPayments__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyOfPayments__headerTitle {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--lineHeight-24);
    font-weight: 400;
    text-align: right;
}

.historyOfPayments__headerDateSort {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-24);
    font-weight: 400;
    text-align: right;
}

.paymentsListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.paymentsHeader {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentsHeader__dateTitle,
.paymentsHeader__statusTitle,
.paymentsHeader__projectTitle,
.paymentsHeader__costTitle {
    height: 100%;
    padding: 6px var(--padding-16);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentsHeader__dateTitle,
.paymentsHeader__statusTitle {
    width: 132px;
}

.paymentsHeader__projectTitle {
    flex: 1;
}

.paymentsHeader__costTitle {
    width: 100px;
}

.paymentsList {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-10);
}

.paymentsList__projectItem {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.paymentsList__itemDate,
.paymentsList__itemStatus,
.paymentsList__itemProjectName,
.paymentsList__itemCost {
    height: 100%;
    padding: 6px var(--padding-16);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentsList__itemDate,
.paymentsList__itemStatus {
    width: 132px;
}

.paymentsList__itemStatus--nextPayment {
    color: var(--color-purpleDark);
}

.paymentsList__itemStatus--successful {
    color: var(--color-primary);
    gap: var(--space-4);
}

.paymentsList__itemStatus--checkIcon {
    width: 10.75px;
    height: 10.75px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentsList__itemProjectName {
    flex: 1;
}

.paymentsList__itemCost {
    width: 100px;
    gap: 2px;
}

.paymentsList__itemCost--dynamicNumberCost {
    color: var(--color-textDark);
}

.paymentsList__itemCost--staticTomanText {
    color: var(--color-textLight);
    font-size: var(--font-size-xxtiny);
    line-height: var(--lineHeight-12);
}

.historyOfPayments__allPaymentsBtn {
    width: 152px;
    height: 40px;
    color: var(--color-primary);
    background: transparent;
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-16);
    font-weight: 700;
    cursor: pointer;
}

@media(max-width:320px){
    .historyOfPayments {
        width: calc(100% - (2* var(--space-16)));
        padding: 0;
        gap: var(--space-12);
        border-radius: 0;
        border: none;
    }

    .historyOfPayments__header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--space-10);
    }

    .paymentsHeader {
        display: none;
    }

    .paymentsList {
        gap: var(--space-12);
    }

    .paymentsList__projectItem {
        padding: var(--padding-10) var(--padding-12);
        min-height: 112px;
        border: 1px solid var(--color-border);
        border-radius: var(--borderRadius-8);
        position: relative;
    }

    .paymentsList__itemDate {
        width: calc(100% - (2 * var(--space-12)));
        height: 20px;
        padding: 0;
        font-size: var(--font-size-small);
        font-weight: 700;
        position: absolute;
        top: 10px;
        right: 12px;
    }

    .paymentsList__itemProjectName {
        width: calc(100% - (2 * var(--space-12)));

        height: 20px;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
    }

    .paymentsList__itemStatus {
        width: fit-content;
        height: 20px;
        padding: 0;
        position: absolute;
        right: 12px;
        bottom: 10px;
    }

    .paymentsList__itemCost {
        width: fit-content;
        height: 20px;
        padding: 0;
        position: absolute;
        left: 12px;
        bottom: 10px;
        gap: 2px;
    }
}