.slider {
  position: relative;
}

.slider__view {
  max-width: var(--slide-width);
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: var(--slide-height);
}

.slider__container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;

}

.slider__nextButton,
.slider__previousButton {

  padding: var(--space-8);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #424750;
  border: 1px #E0E0E2 solid
}

.slider__previousButton {
  position: absolute;
  top: 50%;
  right: 0;
}

.slider__nextButton {
  position: absolute;
  top: 50%;
  left: 0;
}

@media screen and (max-width: 390px) {
  .slider {
    width: 90vw;
    max-width: 325px;
  }

  .slider__previousButton {
    position: absolute;
    top: 109%;
    right: 23%;
  }

  .slider__nextButton {
    position: absolute;
    top: 109%;
    left: 23%;
  }


}