.slider {
  position: relative;

}

.slider__view--Style2,
.slider__view--Style1 {
  max-width: var(--slide-width);
  width: 98vw;
  position: relative;
  overflow: hidden;
  height: var(--slide-height);
}
.slider__view--Style3{
  max-width: calc( var(--slide-width) * 2.35);
  width: 98vw;
  position: relative;
  overflow: hidden;
  height: var(--slide-height);
}
.slider__container--Style1,
.slider__container--Style2 {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: var(--slides-gap);
  scroll-behavior: smooth;
}
.slider__container--Style3{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: var(--slides-gap);
  scroll-behavior: smooth;
}

.slider__nextButton--Style1,
.slider__nextButton--Style2,
.slider__nextButton--Style3,
.slider__previousButton--Style1,
.slider__previousButton--Style2, 
.slider__previousButton--Style3{
  padding: var(--space-8);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #424750;
  border: 1px #E0E0E2 solid;
  z-index: 100;
}

.slider__previousButton--Style1,
.slider__previousButton--Style2,
.slider__previousButton--Style3 {
  position: absolute;
  top: 30%;
  right: 2vw;
}

.slider__nextButton--Style1,
.slider__nextButton--Style2,
.slider__nextButton--Style3 {
  position: absolute;
  top: 30%;
  left: 2vw;
}

@media screen and (max-width: 390px) {
  
 
  .slider__previousButton--Style1,
  .slider__previousButton--Style2 {
    position: absolute;
    top: 106%;
    right: 23%;
  }

  .slider__nextButton--Style1,
  .slider__nextButton--Style2 {
    position: absolute;
    top: 106%;
    left: 23%;
  }
  .slider__nextButton--Style3{
    position: absolute;
    top: 30%;
    left: -4vw;
  }
  .slider__previousButton--Style3{
    position: absolute;
    top: 30%;
    right: -4vw;
  }
  .slider__view--Style2,
  .slider__view--Style1 {
    max-width: var(--slide-width);
  }
  .slider__view--Style3{
    max-width: calc( var(--slide-width) * 1.1);
  }
 
 
}