.login {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.img {
    width: 334px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-10);
}

.title {
    font-size: var(--font-size-xlarge);
    font-weight: 700;
    line-height: 32px;
    color: var(--color-darkBlue);
}

.input {
    width: 334px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-red);
}

.btn {
    width: 334px;
    height: 48px;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: 700;
    line-height: 24px;
    padding: 12px 155px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    text-align: center;
    font-family: yekan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:disabled
{
    background-color: #00b1888a;
}
.paragraph--color {
    color: var(--color-loginSignUp1);
    cursor: pointer;
}

.addPhoneNumber {
    display: flex;
    direction: rtl;
    width: 400px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-32) 30px;
    border-radius: var(--borderRadius-8);
    border: 1px solid var(--color-border);
    gap: var(--space-20);
}

.addPhoneNumber__information {
    width: 335px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-20);
}

.addPhoneNumber__details {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}

.addPhoneNumber__paragraph,
.paragraph {
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: 16px;
    color: var(--color-loginSignUpText);
}

.addPhoneNumber__paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
}

.addPhoneNumber__entrance {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);
}



.addPhoneNumber__Error {
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--lineHeight-16);
    color: var(--color-red);
    margin-top: var(--space-10);
    margin-bottom: var(--space-24);
    height: 50px;
   
}

.sendCode {
    display: flex;
    width: 400px;
    height: 450px;
    direction: rtl;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-32) 30px;
    border-radius: var(--borderRadius-8);
    border: 1px solid var(--color-border);
    gap: var(--space-20);
}

.sendCode__information {
    width: 335px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-20);
}

.sendCode__paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.inputGroup{
    height: 85px;
}

.sendCode__entranceDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
}

.errorPhoneNumber {
    display: flex;
    width: 321px;
    height: 458px;
    direction: rtl;
    margin: 130px 0;
    flex-direction: column;
    align-items: center;
    gap: var(--space-64);
}

.errorPhoneNumber__btn {
    width: 300px;
    height: 50px;
    padding: var(--padding-12) 155px;
    cursor: pointer;
    border-radius: var(--borderRadius-8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}

.errorPhoneNumber__btn--word {
    width: 104px;
    height: 24px;
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
}

.errorPhoneNumber__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-32);
}

.errorPhoneNumber__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-12);
}

.errorPhoneNumber__img {
    width: 192px;
    height: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resend-code {
    color: var(--color-loginSignUpText);
    font-size: var(--font-size-tiny);
    font-family: yekan;
    font-weight: 400;
    line-height: var(--font-size-normal);
    word-wrap: break-word
}





/* HTML: <div class="loader"></div> */
.loader {
    width: 20px;
    aspect-ratio: 1;
    background: var(--color-primary);
    box-shadow: 0 0 60px 15px var(--color-primary);
    transform: translate(-80px);
    clip-path: inset(0);
    animation:
      l4-1 0.5s ease-in-out infinite alternate,
      l4-2 1s   ease-in-out infinite;
  }
  @keyframes l4-1 {
    100% {transform: translateX(80px)}
  }
  @keyframes l4-2 {
     33% {clip-path: inset(0 0 0 -100px)}
     50% {clip-path: inset(0 0 0 0)     }
     83% {clip-path: inset(0 -100px 0 0)}
  }
  .paragraph.greeting{
    margin-top: var(--space-32);
  }