.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login__image {
    width: 100%;
    max-width: 320px;
    height: 40px;
}

.login__title {
    font-size: var(--font-size-large);
    font-weight: 700;
    line-height: 50px;
    height:50px;
    color: var(--color-darkBlue);
    padding: 0 var(--space-4);
}

.login__inputController {
    padding: 0 var(--space-16);
    width: 100%;
    max-width: 334px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}
.login__inputController--error{
    padding: 0 var(--space-16);
    width: 100%;
    max-width: 334px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-red);
}
.login__button {
    width: 100%;
    max-width: 334px;
    height: 48px;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: 700;
    line-height: 24px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    text-align: center;
    font-family: yekan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__button:disabled {
    background-color: #00b18857;
}

.login__paragraphBlue {
    color: var(--color-loginSignUp1);
    cursor: pointer;
}

.login__form {
    display: flex;
    direction: rtl;
    width: 100%;
    max-width: 400px;
    height: 430px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--borderRadius-8);
    border: 1px solid var(--color-border);
    gap: var(--space-8);
}

.login__paragraph {
    font-size: var(--font-size-tiny);
    font-weight: 400;
    padding: 0 var(--space-4);
    color: var(--color-loginSignUpText);
    margin:  var(--space-8) 0;
    width: 100%;
    max-width: 332px;
  
}
.login__error{
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--lineHeight-16);
    padding: 0 var(--space-10);
    color: var(--color-red);
    margin-top: var(--space-4);
    height: 16px;
    width: 100%;
    max-width: 332px;
}
.login__header {
    width: 100%;
    max-width: 332px;
    display: flex;
    flex-direction: column;
    height: 123px;
}

.login__input {
    height: 70px;
    width: 100%;
    max-width: 332px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: right;
}
.login__paragraph.login__countDown
{
    text-align: center;
}