.custom-loader {
  width:12px;
  height:12px;
  background:var(--color);
  border-radius: 50%;
  box-shadow: 20px 0 #00B18922,-20px 0 #00B189;
  animation:d5 1s infinite linear alternate;
  transform: scale(var(--scale));
}
@keyframes d5 {
    0% {box-shadow: 20px 0 #00B189,-20px 0 #00B18922;background: #00B189}
    33%{box-shadow: 20px 0 #00B189,-20px 0 #00B18922;background: #00B18922}
    66%{box-shadow: 20px 0 #00B18922,-20px 0 #00B189;background: #00B18922}
}