.custom-loader {
  width:12px;
  height:12px;
  background:var(--color);
  border-radius: 50%;
  box-shadow: 20px 0 white,-20px 0 var(--color);
  animation:d5 1s infinite linear alternate;
  transform: scale(var(--scale));
}
@keyframes d5 {
    0% {box-shadow: 20px 0 var(--color),-20px 0 white;background: var(--color)}
    33%{box-shadow: 20px 0 var(--color),-20px 0 white;background: white}
    66%{box-shadow: 20px 0 white,-20px 0 var(--color);background: white}
}