
.partnershipBlock {
    width: 100%;
    padding: var(--space-64) var(--space-16) var(--space-20) var(--space-16);
    background-color: var(--color-primary);
    border-radius: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-48);
}
