.button--outlined {
    color: var(--color-primary);
    font-size: var(--font-size-xsmall);
    font-family: yekan;
    font-weight: 700;
    line-height: var(--space-16);
    word-wrap: break-word;
    width: 100%;
    max-width: 360px;
    height: var(--space-48);
    text-align: center;
    padding: var(--space-16) var(--space-24);
    border-radius: 8px;
    cursor: pointer;
    margin-top: var(--space-16);
    border: 2px solid var(--color-primary);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button--filled {
    color: white;
    font-size: var(--font-size-xsmall);
    font-family: yekan;
    font-weight: 700;
    line-height: var(--space-16);
    word-wrap: break-word;
    width: 85vw;
    max-width: 360px;
    height: var(--space-48);
    text-align: center;
    padding: var(--space-16) var(--space-24);
    border-radius: 8px;
    cursor: pointer;
    margin-top: var(--space-16);
    border: 2px solid var(--color-primary);
    background-color:var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button--filled:disabled,.button--outlined:disabled
{
    background-color: #00b1883b;
}
@media screen and (max-width: 390px) {
    .button--outlined {
        max-width: 285px;
    }
    .button--filled {
        max-width: 285px;
    }
}