.homeInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}

.homeInfo__title {
    width: 100%;
    color: var(--color-white);
    font-size: var(--font-size-xhuge);
    line-height: var(--lineHeight-48);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
}
.homeInfo__lastMembersName--noContribution
{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-4);
   
    
}

.homeInfo__dataBox {
    position: relative;
    width: 99vw;
    max-width: 600px;
    height: auto;
    padding: var(--padding-12) var(--padding-24);
    background: var(--color-primaryDark);
    border-radius: var(--borderRadius-12);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-40);
}

.homeInfo__dataBox::after {
    content: ' ';
    width: 1px;
    height: 92px;
    background: var(--color-primaryLight2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}

.homeInfo__membersNumber {
    width: 99vw;
    max-width: 236px;
    height: 92px;
    padding: var(--padding-12);
    color: var(--color-white);
    font-size: var(--font-size-xhuge);
    text-align: right;
    font-weight: 700;
    line-height: var(--lineHeight-32);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-12);
}

.homeInfo__staticMembersDescription--smallFont {
    height: var(--space-24);
    font-size: var(--font-size-small);
    line-height: var(--lineHeight-24);
    font-weight: 400;
    text-align: right;
}

.homeInfo__lastMembers {
    width: 100vw;
    max-width: 236px;
    height: 112px;
    padding: var(--padding-12);
    color: var(--color-white);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-12)
}

.homeInfo__lastMembers {
    color: var(--color-primaryLight);
    font-size: var(--font-size-small);
    line-height: var(--lineHeight-24);
    text-align: right;
}

.homeInfo__lastTwinMembers {
    width: 90vw;
    max-width: 212px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.homeInfo__lastMembersWrapper {
    display: flex;
    gap: var(--space-8);
}

.homeInfo__lastMembersIcon {
    width: 20px;
    height: 20px;
}

.homeInfo__lastMembersName {
    color: var(--color-white);
    font-size: var(--font-size-small);
    line-height: var(--lineHeight-20);
    font-weight: 300;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 566px) {
    .homeInfo__dataBox::after {
      display: none;
    }
    
}