.choosePlan {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choosePlan__currentPhase {
    text-align: center;
    color: #82858A;
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-16);
    word-wrap: break-word;
    width: 90vw;

}

.choosePlan__slidesPaginationMobile {
    width: 175px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #43474F;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}