.choosePlan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choosePlan__currentPhase {
    text-align: center;
    color: #82858A;
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--space-16);
    word-wrap: break-word;
    width: 100%;

}



@media screen and (max-width: 390px) {

    .choosePlan__card{
       width: 306px !important;
    }
    
}