.choosePlanCard {
    width: 576px;
    height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choosePlanCard__image {
    width: 90vw;
    max-width: 536px;
    height: 152px;
    border-radius: 16px;
    margin: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.603) 100%), var(--card-image);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 27%;
    padding: 12px 20px;


}

.choosePlanCard__text {
    color: #82858A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.64px;
    word-wrap: break-word;
    width: 90vw;
    max-width: 488px;
    height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 auto;
    text-align: justify;


}

.choosePlanCard__more {
    color: #00B189;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    margin-top: 13px;
    margin-right: 44px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.choosePlanCard__currentSlide {
    width: 39px;
    height: 24px;
    color: #43474F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

}

.choosePlanCard__imageHeader {
    width: 90vw;
    max-width: 327px;
    height: 64px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    font-family: yekan;
}

.choosePlanCard__logo {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}

.choosePlanCard__logoTitle {
    width: 100%;
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 28.21px;
    word-wrap: break-word;

}

.choosePlanCard__logoImage {
    width: 40px;
    height: 40px;
}

.choosePlaneCard__header {
    color: #43474F;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: center;

}

@media screen and (max-width: 390px) {
    .choosePlanCard {
        width: 90vw;
        max-width: 328px;
    }

    .choosePlanCard__image {
        width: 90vw;
        max-width: 304px;
        margin: 10px;
    }

    .choosePlanCard__imageHeader {
        width: 90vw;
        max-width: 288px;
    }

    .choosePlaneCard__header {
        color: #43474F;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        word-wrap: break-word;
        margin-bottom: 16px;
        margin-top: 8px;
        margin-right: 14px;

    }
}