
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: var(--space-32);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


@media(max-width:390px){

    .container {
        width: 100%;
        max-width: 100%;
    }
}