

.profile__sliderTitle
{
    font-size: var(--font-size-xlarge);
    font-weight: 500;
    margin: var(--space-32) 0;
    max-width: 90%;
    text-align: center;
    line-height: 32px;
}
.profile__hr
{
    color: var(--color-border);
    margin:var(--space-16) 0;
    width: 100%;
}

@media screen and (max-width: 390px) {
    
.profile__sliderTitle
{
    font-size: var(--font-size-normal);
    font-weight: 400;
    margin: var(--space-24) 0;
 
}
}