
.profile__sliderTitle
{
  
    color: var(--color-N700);
    font-size: var(--font-size-xlarge);
    line-height: var(--lineHeight-32);
    font-weight: 400;
    margin-bottom: var(--space-16);

    
}



.profile__sliderTitle
{
    margin-top: var(--space-32);
    margin-bottom: var(--space-16);
}
.profile__hr
{
    color: var(--color-border);
    margin:var(--space-16) 0;
    width: 100%;
}