.textBox {
    width: 100%;
    height: auto;
    padding: var(--space-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}

.textBox__text {
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--space-24);
    word-wrap: break-word;
    width: 100%;
    text-align: right;
    padding: var(--space-16);

}

.textBox__button {
    color: var(--color-primary);
    font-size: var(--font-size-small);
    font-family: Montserrat;
    font-weight: 500;
    line-height: var(--space-20);
    word-wrap: break-word;
    display: flex;
    align-items: center;
    gap: var(--space-8);
    cursor: pointer;
    padding: 0 var(--space-16);
    width: 100%;
    margin-bottom: auto;

}
.textBox__button--truncated {
    color: var(--color-primary);
    font-size: var(--font-size-small);
    font-family: Montserrat;
    font-weight: 500;
    line-height: var(--space-20);
    word-wrap: break-word;
    display: flex;
    align-items: center;
    gap: var(--space-8);
    cursor: pointer;
    padding: 0 var(--space-16);
    width: 100%;
    margin-bottom: auto;
  

}

.textBox__text--truncated {
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--space-24);
    word-wrap: break-word;
    width: 100%;
    text-align: right;
    height: auto;
    overflow: hidden;
    padding: 0 var(--space-16);
}

.textBox__header--truncated {
    margin-top: var(--space-32);
    color: var(--color-textDark);
    font-size: var(--font-size-small);
    font-weight: 700;
    line-height: var(--space-32);
    word-wrap: break-word;
    margin-bottom: var(--space-8);
    text-align: right;
    width: 100%;
    padding: 0 var(--space-16);

}

.textBox__header {
    color: var(--color-textDark);
    font-size: var(--font-size-small);
    font-weight: 700;
    line-height: var(--space-32);
    word-wrap: break-word;
    margin-bottom: var(--space-8);
    text-align: right;
    width: 100%;
    padding: 0 var(--space-16);

}

@media screen and (max-width: 390px) {
    .textBox__header {
        font-size: 4vw;
        padding: 0 var(--space-8);
       
    }
    .textBox__text
    {
        padding: 0 var(--space-8);
    }
    .textBox__text--truncated
    {
        padding: 0 var(--space-8);
    }
    .textBox__header,.textBox__header--truncated
    {
        font-size:  4vw;
        padding: 0 var(--space-8);

    }
    .textBox__button
    {
        font-size: var(--font-size-xsmall);
        padding: 0 var(--space-8);
    }
    .textBox__button--truncated
    {
        font-size: var(--font-size-xsmall);
        padding: 0 var(--space-8);

    }
}


