

.home__backgroundGreen {
    width: 99%;
    padding: var(--padding-64) var(--padding-16) var(--padding-20) var(--padding-16);
    background-color: var(--color-primary);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-48);
}

