.homeBanner {
    width: 100%;
    height: 266px;
    margin-bottom: var(--space-48);
    background: url('@assets/decorations/HomeSlider.svg');
    background-repeat: no-repeat;
}


@media(max-width:390px){
    .homeBanner {
        height: 293px;
        background: url('@assets/decorations/HomeHeaderMobile.svg');
    }
}