.profileHistory {
    width: 99%;
    max-width: 1280px;
    padding: var(--padding-20);
    margin-top: var(--space-24);
    background: var(--color-white);
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-10);
    height: auto;
    border-radius: var(--space-12);
}

.profileHistory__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileHistory__headerTitle {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--lineHeight-24);
    font-weight: 400;
    text-align: right;
}

.profileHistory__sorting {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-24);
    font-weight: 400;
    text-align: right;
}



.profileHistory__tableHeader {
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    height: auto;
    height: 40px;
    padding-bottom: var(--space-24);
}

.profileHistory__tableHeaderPrice
{
    width: 100px;
   
}
.profileHistory__tableHeaderDate,
.profileHistory__tableHeaderState{
    width: 132px;
   
}

.profileHistory__tableHeaderTitle {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.profileHistory__table {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-10);
    height: auto;
}


.profileHistory__button {
    width: 152px;
    height: 40px;
    color: var(--color-primary);
    background: transparent;
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-16);
    font-weight: 700;
    cursor: pointer;
    text-align: right;
    margin-right: var(--space-4);
}
.profileHistory__hr{
    width: 100%;
    color: var(--color-border);
    margin-top: var(--space-8);
    margin-bottom: var(--space-24);
}
@media screen and (max-width:553px) {
    .profileHistory{
        max-width: 96%;
        padding: var(--space-8);
        border-radius: var(--space-8);
    }
    .profileHistory__hr
    {
        display: none;
    }
    .profileHistory__sorting {
        display: none;
    }
    
    .profileHistory__button
    {
        margin-right: var(--space-12);
    }
    
    .profileHistory__tableHeader {
        
        display: none;
    }
    
}