
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: var(--space-8);
    background-color: white;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.card__image{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), var(--card-image);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.08);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 27%;
    padding: var(--space-28);
}






.card__logo{
    display: flex;
    margin-top: var(--space-28);
    justify-content: center;
    align-items: center;
}

.card__logoTitle {
    width: 90%;
    color: white;
    font-size: var(--font-size-xsmall);
    font-weight: 400;
    line-height: var(--space-28);
    word-wrap: break-word;

}

.card__logoImage {
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 390px) {
    .card__image
    {
        height: 150px;
    }
    
}