.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: var(--space-8);
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.1);
}

.card__hr
{
    color: var(--card-border);
    width: calc(100% + 5px);
    margin-bottom: 0;
}
.card__button{
    padding: var(--space-10) 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image{
    width: 100%;
    height: 200px;
    border-radius: var(--space-8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), var(--card-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 27%;
    padding: var(--space-28);
}






.card__logo{
    display: flex;
    margin-top: var(--space-28);
    justify-content: center;
    align-items: center;
    margin-right: var(--space-10);
    height: 50px;
    
}

.card__logoTitle {
    width: 90%;
    color: white;
    font-size: var(--font-size-xsmall);
    font-weight: 400;
    line-height: var(--space-28);
    word-wrap: break-word;
    height: 20px;
    

}

.card__logoImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


@media screen and (max-width: 390px) {
    .card__image
    {
        height: 150px;
    }
    
}