.profileSection {
    position: relative;
    width: 100% ;
    padding: var(--padding-24);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-20);
}

.innerBorder {
    width: 100%;
    height: 1px;
    background: var(--color-border);
}

.partnerStatusProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-12);
}

.partnerStatusProject__headerStatus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-8);
}

.partnerStatusProject__dispalyIconStatus {
    width: 4px;
    height: 16px;
    background: var(--color-border);
    border-radius: 2px 0px 0px 2px;
}

.partnerStatusProject__dispalyIconStatus--active {
    background: var(--color-primary);
}

.partnerStatusProject__titleStatus {
    color: var(--color-darkBlue);
    font-size: var(--font-size-normal);
    line-height: var(--space-24);
    font-weight: 400;
}

@media(max-width:320px) {
    .profileSection {
        width: 100%;
        padding: var(--padding-24) var(--padding-16);
        gap: var(--space-24);
    }

    .partnerStatusProject__dispalyIconStatus {
        display: none;
    }
    .currentProject__changeBtns {
        padding: var(--padding-12);
    }

    .partnerStatusProject__activeStatus {
        height: auto;
        flex-direction: column;
        gap: var(--space-12);
    }

    .currentProject,
    .partnerStatus__dataLogProject {
        width: 100%;
        height: auto;
        padding: var(--space-16) var(--space-12);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--space-20);
    }

    .currentProject__projectOrganData,
    .currentProject__projectOrganData--successful {
        width: 100%;
        flex-direction: column;
        align-items: self-start;
    }

    .currentProject__dataTexts {
        justify-content: flex-start;
        gap: var(--space-12);
    }

    .currentProject__dataTexts,
    .currentProject__activeProjectName {
        width: 100%;
    }

    .currentProject__projectOptions {
        justify-content: center;
        height: 40px;
    }

    .currentProject__costTextProject {
        display: none;
    }

    .partnerStatus__dataLogProject {
        gap: var(--space-40);
    }

    .partnerStatus__dataLogMonths,
    .partnerStatus__dataLogCost,
    .partnerStatus__dataLogMonthsText,
    .partnerStatus__dataLogCostText,
    .partnerStatus__dataLogMonthsNumber,
    .partnerStatus__dataLogCostNumberWrapper {
        justify-content: flex-start;
        width: 100%;
    }

    .partnerStatusProject__activeStatus--successful {
        height: auto;
        flex-direction: column;
        gap: var(--space-12);
    }

    .currentProject--successful {
        width: 100%;
        height: auto;
        padding: var(--space-16) var(--space-12);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--space-20);
    }

    .currentProject__projectOrganData--successful {
        width: 100%;
        flex-direction: column;
        align-items: self-start;
    }

    .currentProject__dataTexts--successful,
    .currentProject__activeProjectName--successful {
        width: 100%;
    }

    .currentProject__dataTexts--successful {
        justify-content: flex-start;
        gap: var(--space-12);
    }

    .partnerStatusProject__expiredStatus,
    .expiredProjectWrapper {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .expiredProject__projectData {
        width: 100%;
        flex-direction: column;
    }

    .expiredProject__projectOrganData {
        width: 100%;
    }

    .expiredProject__projectOrganData {
        flex-direction: column;
        align-items: flex-start;
    }

    .expiredProject__dataTexts,
    .expiredProject__expiredProjectName,
    .expiredProject__expiredOraganName {
        width: 100%;
    }

    .partnerStatusProject__needChooseStatus {
        height: 209px;
    }

    .partnerStatusProject__needChooseText {
        text-align: center;
    }
}