.profileProjectNew {
    width: 100%;
    height:auto;
    background: var(--color-white);
    padding: var(--padding-16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.profileProjectNew__info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 280px;
}
.profileProjectNew__infoLogo {
    width: 48px;
    height: 48px;
    border-radius: var(--borderRadius-10);
}

.profileProjectNew__infoText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--lineHeight-24);
}



.profileProjectNew__infoEmployer {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--lineHeight-20);
}

.profileProjectNew__edit {
    width: 100%;
    max-width: 280px;
    padding: var(--padding-12) var(--padding-16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
    color: var(--color-primary);
}


.profileProjectNew__editButton {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-12);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .profileProjectNew{
        justify-content: center;
        gap:var(--space-20)
    }
    
}

@media screen and (max-width: 390px) {
    .profileProjectNew {
        
        border-radius: 16px;
        border: 1px solid var(--color-border);
        
    }
    .profileProjectNew__info{
        justify-content: start;
       
    }
    
}