.profileHistory__item {
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    min-height: 56px;

}

.profileHistory__itemDate,
.profileHistory__itemState,
.profileHistory__itemPrice {
    padding: 0 var(--space-8);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 132px;
    height: auto;
    min-height: 80px;

}


.profileHistory__nextPayment {
    color: var(--color-purpleDark);
    font-size: var(--font-size-small);
}

.profileHistory__successState {
    color: var(--color-primary);
    gap: var(--space-4);
}

.profileHistory__icon {
    width: 10.75px;
    height: 10.75px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileHistory__itemTitle {
    flex: 1;
    min-height: 80px;
    padding: 0 var(--space-8);
    color: var(--color-textMid);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-20);
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileHistory__itemPrice {
    max-width: 100px;
    gap: 2px;
    color: var(--color-textDark);
}

@media screen and (max-width: 500px) {
    .profileHistory__item {
        border: none;
        justify-content: space-between;
        padding: var(--space-16);
        border: 1px solid var(--color-border);
        border-radius: 16px;
        margin: var(--space-4) 0;
     

        
    }
    .profileHistory__itemDate
    {
        order: 1;
        font-weight: 700;
        min-height: 35px;

    }
    .profileHistory__itemTitle
    {
        order: 2;
        min-height: 35px;
    }
    .profileHistory__itemPrice
    {
        order: 4;
        min-height: 35px;
    }
    .profileHistory__itemState{
        order: 3;
        min-height: 35px;
    }
    
}

