
.priceForm__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    justify-content: center;
    align-items: center;
    max-width: 442px;
    width: 100%;
    
}

.priceForm__formError{
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--color-red);
}

.priceForm__formLabel {
    font-size: var(--font-size-normal);
    font-weight: 700;
    margin-top: var(--space-32);
    width: 100% ;
    
}





.priceForm__inputController{
    border: 1px solid var(--color-input);
    border-radius: var(--space-8);
    font-weight: 600;
    width: 100%;
    padding: 13px;
  

}



.priceForm__inputPrefix {
    position: absolute;
    left: 20px;
    top:17px;
    font-weight: 400;
    font-size: var(--font-size-tiny);
    color: var(--color-primary);
}

.priceForm__input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-4);
    width: calc(100% + 4px);
   
}

.priceForm__inputInfo {
    font-weight: 400;
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    color: var(--color-primary);
    height: 25px;
    text-align: right;
    width: 100%;
}



.priceForm__inputError{
    color: var(--color-red);
    font-size: var(--font-size-xsmall);
    text-align: right;
    width: 100%;
}





@media screen and (max-width: 500px) {
    .priceForm__form {
        padding: 0 var(--space-16);
        
    }
    
}

