.scrollingText__container {
    overflow: hidden;


}

.scrollingText__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrollingText__text--animate {
    white-space: nowrap;
    -moz-animation: my-animation 7s linear infinite;
    -webkit-animation: my-animation 7s linear infinite;
    animation: my-animation 7s linear infinite;
    
}

@keyframes my-animation {
    0% {
        visibility: 1;
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100%{
        visibility: 0;
        -moz-transform: translateX(150%);
        -webkit-transform: translateX(150%);
        transform: translateX(150%);
    }
  
   
}