
.choosePrice__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    justify-content: center;
    align-items: center;
    max-width: 442px;
    width: 90vw;
    
}

.choosePrice__formLabel {
    font-size: var(--font-size-normal);
    font-weight: 700;
    margin-top: var(--space-32);
    padding: 0 var(--space-8);
    width: 100%;
}





.choosePrice__inputController{
    border: 1px solid var(--color-input);
    border-radius: var(--space-8);
    font-weight: 700;
    width: 100%;
    padding: 13px;
    -moz-appearance: textfield;
    appearance: textfield;

}



.choosePrice__inputPrefix {
    position: absolute;
    left: 15px;
    top: var(--space-16);
    font-weight: 400;
    font-size: var(--font-size-tiny);
    color: var(--color-primary);
}

.choosePrice__input {
    position: relative;
    display: grid;
    gap: var(--space-4);
    width: 100%;
    padding: 0 var(--space-8);
}

.choosePrice__inputInfo {
    font-weight: 400;
    font-size: var(--font-size-tiny);
    line-height: var(--space-16);
    color: var(--color-primary);
    height: 17px;
}



.choosePrice__inputError{
    color: var(--color-red);
    font-size: var(--font-size-xsmall);
}




.confirm-price-button {
    width: 100%;
    text-align: center;
    padding: var(--space-12) 155.33px var(--space-12) 154.67px;
    max-height: 48px;
    border-radius: var(--space-8);
    background-color: var(--color-primary);
    font-weight: 700;
    font-size: var(--font-size-small);
    line-height: var(--space-24);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s;
}



