.editPlan__sliderHeader
{
    width: 95vw;
    max-width: 1280px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    margin: var(--space-32) 0;
    

}

.editPlan__sliderTitle
{
    color: var(--color-textDark);
    font-size: var(--font-size-normal);
    font-weight: 500;
  
}
.editPlan__sliderSubtitle
{
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
}