.profileProject {
    width: 99%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-4);
    height: auto;
    padding: var(--space-4);

}


.profileProject__wrapper{
    width: 100%;
    max-width: 630px;
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    flex-wrap: wrap;
    height: auto;
    min-height: 88px;
    gap: var(--space-32);
    padding: var(--space-12);
   
   
}


.profileProject__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-4);
    width: 100%;
    max-width: 200px;
    font-size: var(--font-size-small);
    height: 40px;
    


}

.profileProject__infoLogo {
    width: 48px;
    height: 48px;
    border-radius: var(--borderRadius-10);
}

.profileProject__infoText {

    display: flex;
    flex-direction: column;
   
}

.profileProject__infoTitle {
    width: 100%;
    color: var(--color-N700);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--lineHeight-24);
    padding: 0;
}

.profileProject__infoEmployer {
    width: 100%;
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--lineHeight-20);
    padding: 0;
}

.profileProject__edit {
    height: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
 

}

.profileProject__price {
    font-size: var(--font-size-xtiny);
    color: var(--color-textLight);
    font-weight: 400;
    line-height: var(--lineHeight-12);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    

}



.profileProject__editButtons {
    padding: var(--padding-12) var(--padding-16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
    width: 100%;
    max-width: 170px;
    color: var(--color-primary);
    cursor: pointer;
}


.profileProject__editButton {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-12);
    font-weight: 700;
    text-decoration: none;
    position: relative;
}





.profileProject__finance {
    width: 100%;
    max-width: 200px;
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    line-height: var(--lineHeight-20);
    font-size: var(--font-size-small);
    font-weight: 400;
    gap: var(--space-4);
    text-align: center;

}


.profileProject__financeText {
    color: var(--color-textLight);
    line-height: var(--lineHeight-20);
    font-size: var(--font-size-xsmall);
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.profileProject__financeTextBold {
    color: var(--color-textDark);
    line-height: var(--lineHeight-20);
    font-size: var(--font-size-xsmall);
    font-weight: 700;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 1280px) {
    .profileProject {
     
        justify-content: center;
        align-items: center;
    
    }
    .profileProject__wrapper{
        max-width: 100%;
        
       
    }
}

@media screen and (max-width: 550px) {
    .profileProject__infoLogo {
      display: none;
    }
    .profileProject__info
    {
        flex-wrap: wrap;
    }
    .profileProject {
       gap: var(--space-4);
    
    }
    .profileProject__wrapper{
        justify-content: start;
        border-radius: var(--space-10);
        
        
    }
   
    .profileProject__financeText,.profileProject__financeTextBold
    {
        text-align: right;
    }
    .profileProject__edit
    {
        text-align: right;
        justify-content: flex-start;
    }
    .profileProject__editButtons
    {
        padding:var(--space-4) 0;
        text-align: right;
        justify-content: flex-start;
        margin-bottom: var(--space-10);
        margin-top: var(--space-10);

    }
    .profileProject__finance
    {
        flex-direction: row-reverse;
        justify-content: flex-start;
        max-width: 100%;
       
    }
  
}


@media screen and (max-width: 390px) {
   
    .profileProject__edit
    {
        max-width: 100px;
    }
    .profileProject__info{
        max-width: 100%;
    }
    .profileProject__finance
    {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
       
    }
    .profileProject__price {
        display: none;

    }
    
}
