.presentation {
    width: 1031px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}

.presentation__videoSection {
    width: 696px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-48);
}

.presentation__header {
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.presentation__title {
    color: var(--color-textDark);
    font-size: var(--font-size-xhuge);
    font-weight: 400;
    line-height: var(--lineHeight-48);
    text-align: center;
    letter-spacing: -0.5px;
}

.presentation__description {
    width: 338px;
    color: var(--color-textLight);
    font-size: var(--font-size-xsmall);
    font-weight: 400;
    line-height: var(--lineHeight-20);
    letter-spacing: -0.5px;
    text-align: center;
}

.presentation__sliderIndicators {
    width: 68px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.presentation__sliderDots {
    width: 4px;
    height: 4px;
    border-radius: 999px;
    background: var(--color-N200);
}

.presentation__sliderDots--ellipse {
    width: 16px;
    height: 6px;
}

.presentation__sliderDots--big {
    width: 6px;
    height: 6px;
}

.presentation__video {
    width: 100%;
    height: 363px;
    border-radius: var(--borderRadius-4);
}

.presentation__startPlanSection {
    width: 100%;
    padding: var(--padding-24);
    background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-24);
}

.presentation__startPlanText {
    color: var(--color-textDark);
    font-weight: 400;
    font-size: var(--font-size-huge);
    letter-spacing: -0.5px;
    line-height: var(--lineHeight-48);
    text-align: center;
}

.presentation__startPlanText--boldText {
    font-weight: 700;
}

.presentation__startPlanText--greenText {
    color: var(--color-primary);
}

.presentation__startPlanItems {
    width: 656px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-48);
}

.firstRow,
.secondRow {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-48);
}

.presentation__startPlanItem {
    width: auto;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.presentation__startPlanItemIconWrapper {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation__startPlanItemIconWrapper--login {
    background: linear-gradient(158.66deg, #EFEDEC 3.16%, #F9FBF3 100.67%);

}

.presentation__startPlanItemIcon--login {
    color: var(--color-homeIcon1);
}

.presentation__startPlanItemIconWrapper--project {
    background: linear-gradient(161.84deg, #F5FBE9 5.39%, #F6F9EF 100.76%);
}

.presentation__startPlanItemIcon--project {
    color: var(--color-homeIcon2);
}

.presentation__startPlanItemIconWrapper--money {
    background: linear-gradient(156.61deg, #F8FCEE 6.4%, #F4FAFC 94.45%);
}

.presentation__startPlanItemIcon--money {
    color: var(--color-homeIcon3);
}

.presentation__startPlanItemIconWrapper--withUs {
    background: linear-gradient(146.36deg, #DCF5EC 4.7%, #EFF9F5 91.33%);

}

.presentation__startPlanItemIcon--withUs {
    color: var(--color-homeIcon4);
}

.presentation__startPlanItemText {
    color: var(--color-textDark);
    font-size: var(--font-size-normal);
    font-weight: 700;
    letter-spacing: -0.5px;
}

.presentation__startPlanBtn {
    width: 232px;
    height: 48px;
    color: var(--color-white);
    background: var(--color-primary);
    font-size: var(--font-size-large);
    line-height: calc(var(--lineHeight-16) + var(--lineHeight-12));
    border-radius: var(--borderRadius-12);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.presentation__startPlanBtnIcon {
    font-size: var(--font-size-xtiny);
}

@media(max-width:390px) {
    .presentation {
        width: 100%;
        justify-content: space-between;
    }

    .presentation__videoSection {
        width: 100%;
        height: auto;
    }

    .presentation__header {
        width: 100%;
        max-width: 338px;
    }

    .presentation__title {
        font-size: var(--font-size-huge);
        line-height: var(--lineHeight-36);
    }

    .presentation__description {
        width: 100%;
    }

    .presentation__video {
        height: 226px;
    }

    .presentation__startPlanSection {
        width: 100%;
        height: auto;
        padding: var(--padding-20) var(--padding-12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-24);
        background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
    }

    .presentation__startPlanText {
        height: 100%;
        color: var(--color-textDark);
        font-size: var(--font-size-normal);
        font-weight: 400;
        line-height: var(--lineHeight-32);
        letter-spacing: -0.5px;
    }

    .presentation__startPlanItems {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--space-20);
    }

    .presentation__startPlanItem {
        flex: 1;
    }

    .firstRow,
    .secondRow {
        width: 100%;
        gap: 48px;
        justify-content: center;
    }

    .presentation__startPlanItemText {
        width: 100%;
        height: 100%;
        font-size: var(--font-size-xsmall);
        line-height: var(--lineHeight-24);
        letter-spacing: -0.5px;
        font-weight: 700;
    }

    .presentation__startPlanBtn {
        width: 232px;
        height: 48px;
    }
}

@media(max-width:360px){
    .presentation__startPlanItems{
        gap: var(--space-8);
    }
    
        .firstRow,
        .secondRow{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        gap: var(--space-8);
        }
    
       .presentation__startPlanBtn {
            min-height: 48px;
            height: auto;
            flex-wrap: wrap;
        }
    }