.priceForm__suggestionsText {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    font-size: var(--font-size-small);
    line-height: var(--space-32);
    color: var(--color-textMid);
    font-weight: 400;
    width: 100%;
}


.priceForm__suggestions {
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-4);
    width: 100%;
}

.priceForm__suggestion {
    background: var(--color-white);
    position: relative;
    border: 1px solid var(--color-input);
    font-size: 14px;
    color: var(--color-black);
    border-radius: var(--space-4);
    padding: var(--space-8);
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    font-weight: 500;
    transition: color, background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.priceForm__suggestion--active {
    color: var(--color-white);
    position: relative;
    border: 1px solid var(--color-input);
    font-size: 14px;
    border-radius: var(--space-4);
    padding: var(--space-8);
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    font-weight: 500;
    transition: color, background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}

.priceForm__suggestionCurrency {
    font-size: var(--space-12);
    line-height: 36px;
    font-weight: 300;
    color: var(--color-primary);

}

.priceForm__suggestionCurrency--active {

    top: var(--space-12);
    font-weight: 300;
    color: white;

}
@media screen and (max-width: 500px) {

   
    
    .priceForm__suggestionsText {
   
        justify-content: center;
        align-items: flex-start;
        text-align: right;
        font-size: var(--font-size-xsmall);

    }
    .priceForm__suggestion {
        width: 30%;
    }

    .priceForm__suggestion--active {
        width: 30%;
    }
    .priceForm__suggestions {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-4);
        width: 100%;
    }
    .priceForm__suggestion:last-child{
        width:100%;
        justify-content: center;
        align-items: center;
        padding-left:0 ;
        padding-right: 0;
    } 
    .priceForm__suggestion--active:last-child{
        width:303px;
        justify-content: center;
        align-items: center;
        padding-left:0 ;
        padding-right: 0;
    } 
 }
@media screen and (max-width: 390px) {
    .priceForm__suggestion:last-child{
        width:49%;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-8);
    } 
    .priceForm__suggestion--active:last-child{
        width:49%;
        justify-content: space-between;
        align-items: center;
        padding: var(--space-8);
    } 
    .priceForm__suggestion {
        width: 49%;
    }

    .priceForm__suggestion--active {
        width: 49%;
    }
   
}
