.choosePlan__button {
    color: white;
    font-size: var(--font-size-xsmall);
    font-family: yekan;
    font-weight: 700;
    line-height: var(--space-16);
    word-wrap: break-word;
    width: 90vw;
    max-width: 536px;
    height: var(--space-48);
    text-align: center;
    padding: var(--space-16) var(--space-24);
    background-color: var(--color-primary);
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
}

@media screen and (max-width: 390px) {
    .choosePlan__button {
        width: 90vw;
        max-width: 313px;
    }
}