.editHeader{
    width:95vw;
    max-width: 1212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    gap: var(--space-16);
    margin: var(--space-24) 0;
}
.editHeader__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    height: auto;
   
}
.editHeader__textGreen{
    color: var(--color-primary);
    font-weight: 400;
    margin-left: var(--space-16);
    cursor: pointer;
}

.editHeader__textBold{
    color: var(--color-textDark);
    font-weight: 400;
    font-size: var(--font-size-large);
}
.editHeader__textRed{
    color: var(--color-red);
    font-weight: 400;
    font-size: var(--font-size-small);
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .editHeader__wrapper .editHeader__title
    {
        display: none;
    }

}