.homeAbout__wrapper {
    width:100%;
    height: auto;
    padding: var(--padding-12);
    color: var(--color-white);
    background: var(--color-primaryDark);
    border-radius: var(--borderRadius-12);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.homeAbout__item {
    width: 100%;
    max-width: 572px;
    height: auto;
    padding: var(--padding-12);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
}

.homeAbout__title {
    font-weight: 700;
    font-size: var(--font-size-xlarge);
    line-height: var(--lineHeight-32);
    letter-spacing: -0.5px;
}

.homeAbout__description {
    font-size: var(--font-size-xsmall);
    line-height: var(--lineHeight-24);
    font-weight: 400;
    letter-spacing: -0.5px;
}


@media(max-width:390px) {
   

    .homeAbout__wrapper {
        width: 100%;
        height: auto;
        padding: var(--padding-16);
        flex-direction: column;
    }

    .homeAbout__item {
        width: 100%;
        height: auto;
    }

    .homeAbout__bodyText {
        width: 100%;
        letter-spacing: 0;
    }
}