.partnerProfileData {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-20);
}

.partnerPersonalData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-12);
}

.partnerPersonalData__partnerAvatar {
    width: 48px;
    height: 48px;
    border-radius: var(--borderRadius-8);
}

.partnerPersonalData__partnerAvatar--notLoggedIn {
    display: none;
}

.partnerPersonalDataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

.partnerPersonalData__partnerName {
    color: var(--color-textDark);
    font-size: var(--font-size-normal);
    line-height: var(--lineHeight-24);
    font-weight: 700;
}

.partnerPersonalData__partnerTelNumber {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-16);
    font-weight: 400;
}

.partnerPersonalData__editBtn {
    color: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-16);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: none;
}

@media(max-width:320px) {
    .partnerProfileData {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--space-20);
    }

    .partnerPersonalData__editBtn {
        width: 122px;
        height: 24px;
        gap: 0 var(--space-12);
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
    }
}