:root {
    --borderRadius-4: 4px;
    --borderRadius-8: 8px;
    --borderRadius-10: 10px;
    --borderRadius-12: 12px;
    --borderRadius-16: 16px;
    --borderRadius-20: 20px;
    --borderRadius-22: 22px;
    --borderRadius-24: 24px;
    --borderRadius-32: 32px;
    --borderRadius-40: 40px;
    --borderRadius-48: 48px;
    --borderRadius-56: 56px;
    --borderRadius-64: 64px;
}