:root {
    --padding-4: 4px;
    --padding-8: 8px;
    --padding-10: 10px;
    --padding-12: 12px;
    --padding-16: 16px;
    --padding-20: 20px;
    --padding-22: 22px;
    --padding-24: 24px;
    --padding-32: 32px;
    --padding-40: 40px;
    --padding-48: 48px;
    --padding-56: 56px;
    --padding-64: 64px;
}