/* Webfont: Yekan */
@font-face {
  font-family: "Yekan";
  src: url("Yekan.eot");
  src: url("../fonts/Yekan-Font-master/Yekan.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Yekan-Font-master/Yekan.woff2") format("woff2"),
    url("../fonts/Yekan-Font-master/Yekan.woff") format("woff"),
    url("../fonts/Yekan-Font-master/Yekan.otf") format("opentype"),
    url("../fonts/Yekan-Font-master/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
/* Define the font face for regular weight */
@font-face {
  font-family: "Yekan";
  src: url("../fonts/Yekan-Font-master/Yekan.ttf") format("truetype");
  font-weight: 400;
}
/* Define the font face for bold weight */
@font-face {
  font-family: "YourFontName";
  src: url("../fonts/Yekan-Font-master/Yekan.ttf") format("truetype");
  font-weight: 700;
}
