.profileMessage {
    margin: var(--space-32) 0;
    width: 100%;
    max-width: 1280px;
    padding: var(--padding-16) var(--padding-24) var(--padding-20);
    background: linear-gradient(216.85deg, rgba(0, 177, 18, 0.05) 30.34%, rgba(0, 113, 162, 0.05) 96.4%);
    border-radius: var(--borderRadius-12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-16);
    transition: transform 200ms;
}

.profileMessage__title {
    width: 100%;
    max-width: 566px;
    color: var(--color-N700);
    font-size: var(--font-size-xlarge);
    line-height: var(--lineHeight-32);
    font-weight: 400;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-8);
}

.profileMessage__text {
    width: 100%;
    max-width: 546px;
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    line-height: var(--lineHeight-24);
    font-weight: 400;
}

.profileMessage__textBold{
    color: var(--color-primary);
    font-weight: 700;
}
.profileMessage__link{
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
}