.profileProjectExpired {
    width: 100%;
    height: auto;
    padding: var(--padding-16);
    border: 1px solid var(--color-red);
    background: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-10);
}


.profileProjectExpired__info {
    height: 100%;
    max-width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--space-10);
    height: 100%;

}



.profileProjectExpired__infoLogo {
    width: 48px;
    height: 48px;
    border-radius: var(--borderRadius-10);
}

.profileProjectExpired__infoText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.profileProjectExpired__infoTitle {
    color: var(--color-N700);
    font-size: var(--font-size-normal);
    font-weight: 400;
    line-height: var(--lineHeight-24);
}

.profileProjectExpired__infoEmployer {
    color: var(--color-textLight);
    font-size: var(--font-size-tiny);
    font-weight: 400;
    line-height: var(--lineHeight-20);
}

.profileProjectExpired__box {
    width: 118px;
    height: 24px;
    color: var(--color-N700);
    background: var(--color-N200);
    padding: var(--padding-4) var(--padding-8);
    font-size: var(--font-size-xsmall);
    line-height: var(--lineHeight-16);
    border-radius: var(--borderRadius-8);
    font-weight: 400;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileProjectExpired__button {
    width: 107px;
    height: 40px;
    color: var(--color-white);
    background: var(--color-primary);
    font-size: var(--font-size-tiny);
    line-height: var(--lineHeight-16);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .profileProjectExpired {
        justify-content: center;
        gap: var(--space-20);
    }

    .profileProjectExpired__info {
        justify-content: center;
    }

}

@media screen and (max-width: 390px) {

    .profileProjectExpired {
        border-radius: 16px;
        border: 1px solid var(--color-border);
        justify-content: flex-start;
    }
    .profileProjectExpired__info {
       justify-content: flex-start;
    }

    .profileProjectExpired__box {
   
        background-color: var(--color-N700);
        color: var(--color-N200);
    
    }

}