
.choosePlanTextBox{
    width: 100%;
    max-width: 360px;
}

.choosePlanTextBox__text{
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--space-24);
    word-wrap: break-word;
    width: 85vw;
    max-width:340px;
    text-align: right;
}

.choosePlanTextBox__button{
    color:var(--color-primary);
    font-size: var(--font-size-small);
    font-family: Montserrat;
    font-weight: 500;
    line-height: var(--space-20);
    word-wrap: break-word;
    margin-top: var(--space-13);
    display: flex;
    align-items: center;
    gap:var(--space-8);
    cursor: pointer;
    max-width: 340px;
    width: 85vw;
    
}

.choosePlanTextBox__text--truncated{
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--space-24);
    word-wrap: break-word;
    width: 85vw;
    max-width: 340px;
    text-align: right;
    height: 75px;
    overflow: hidden;
}

@media screen and (max-width: 390px) {
  
    .choosePlanTextBox__text{
        max-width: 289px;
    }


    .choosePlanTextBox__text--truncated{
        max-width: 289px;
    }

}