.choosePlanTextBox__text {
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--space-24);
    word-wrap: break-word;
    width: 85vw;
    max-width: 488px;
    margin: 0 var(--space-40);
    text-align: right;
   

}

.choosePlanTextBox__button {
    color:var(--color-primary);
    font-size: var(--font-size-small);
    font-family: Montserrat;
    font-weight: 500;
    line-height: var(--space-20);
    word-wrap: break-word;
    margin-top: var(--space-13);
    display: flex;
    align-items: center;
    gap:var(--space-8);
    cursor: pointer;
    max-width: 480px;
    width: 85vw;
    margin: 0 auto;
}

.choosePlanTextBox__text--truncated {
    color: var(--color-textLight);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--space-24);
    word-wrap: break-word;
    width: 85vw;
    max-width: 488px;
   
    text-align: right;
    height: 75px;
    overflow: hidden;
}

@media screen and (max-width: 360px) {
    .choosePlanTextBox__text {
        font-size: var(--font-size-small);
        font-weight: 400;
        line-height: var(--space-24);
        word-wrap: break-word;
        width: 85vw;
        max-width: 304px;
        margin: 0 var(--space-14);
        text-align: right;
        padding-right: var(--space-16);
        

    }

    .choosePlanTextBox__text--truncated {
        color: var(--color-textLight);
        font-size: var(--font-size-small);
        font-weight: 400;
        line-height: var(--space-24);
        word-wrap: break-word;
        width: 94vw;
        max-width: 304px;
        margin: 0 auto;
        text-align: right;
        height: 75px;
        overflow: hidden;
        padding: 0 var(--space-12);
        
    }
    .choosePlanTextBox__button {
        color:var(--color-primary);
        font-size: var(--font-size-small);
        font-family: Montserrat;
        font-weight: 500;
        line-height: var(--space-20);
        word-wrap: break-word;
        margin-top: var(--space-10);
        margin-right: var(--space-20);
        display: flex;
        align-items: center;
        gap: var(--space-8);
        cursor: pointer;
    }
}