.slider {
  position: relative;
}
.slider__more
{
  color: var(--color-primary);
  font-size: var(--font-size-small);
  background-color: transparent;
  margin-bottom: auto;
}
.slider #slide {
  scroll-snap-align: end;
  flex-shrink: 0;
  max-width: 100% !important;
  width: var(--slide-width) !important;
  height: var(--slide-height) !important;
  max-height: var(--slide-height) !important;
  min-height: var(--slide-height) !important;
}

.slider__view {
  width:96vw;
  max-width: var(--view-port-width);
  position: relative;
  overflow-x: hidden;
}

.slider__container {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: var(--slides-gap);
  scroll-behavior: var(--scroll-behavior);
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  width: 100%;
  position: relative;
  height: 500px;
  

}

.slider__nextButton,
.slider__previousButton {
  padding: var(--space-8);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #424750;
  border: 1px #E0E0E2 solid;
  z-index: 200;
  cursor: pointer;
}


.slider__previousButton {
  position: absolute;
  top: 15%;
  right: 5vw;

}


.slider__nextButton {
  position: absolute;
  top: 15%;
  left: 5vw;

}

.slider__isLoading
{
  color: white;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  height: 450px;
  width: 100%;
  background-color:#00b18861;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  
}
@media screen and (max-width: 390px) {
  .slider #slide{
    flex-shrink: 0;
    max-width: 85% !important;
    width: var(--slide-width) !important;

  }
  .slider__container{
    gap: var(--space-16);
  }
}


.slider__container::-webkit-scrollbar {
  display: none;
}

.slider__container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}