.slider {
  position: relative;
}

.slider #slide {
  scroll-snap-align: end;
  flex-shrink: 0;
  max-width: 100% !important;
  width: var(--slide-width) !important;
  height: var(--slide-height) !important;
}

.slider__view {
  width: 100vw;
  max-width: var(--view-port-width);
  position: relative;
  overflow: hidden;
  height: var(--slide-height);

}

.slider__container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: var(--slides-gap);
  scroll-behavior: var(--scroll-behavior);
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  width: 100%;
  

}

.slider__nextButton,
.slider__previousButton {
  padding: var(--space-8);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #424750;
  border: 1px #E0E0E2 solid;
  z-index: 200;
  cursor: pointer;
}


.slider__previousButton {
  position: absolute;
  top: 20%;
  right: 5vw;

}


.slider__nextButton {
  position: absolute;
  top: 20%;
  left: 5vw;

}


@media screen and (max-width: 390px) {
  .slider #slide{
    flex-shrink: 0;
    max-width: 80% !important;
    width: var(--slide-width) !important;
    height: auto !important;
  }
  .slider__view
  {
    height: auto !important;
    width: 100vw;
 
  }

}